.form-container header button {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: green;
    margin-left: 16px;
    transition: border-color 0.5s;
}