.imagem {
    width: 250px;
    height: 250px;
}

.modal-participantes table thead tr th {
    height: 50%;
}

.acoes {
    justify-content: space-between;
    align-items: center;
    width: 100px;
} 