.desafio-container {
    width: 100%;
    max-width: 1200px;
    padding: 5 10px;
    margin: 30px auto;
}

.desafio-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desafio-container header button {
    height: 50px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: green;
    margin-left: 16px;
    transition: border-color 0.5s;
}

.listarParticipantes {
    cursor: pointer;
}