.imagem {
    width: 250px;
    height: 250px;
}

.modal-participantes {
    width: 100%;
    max-width: 700px;
    padding: 5 10px;
    margin: 30px auto;
}

div.selecionarModalidade {
    margin-left: 20px;
}

div.form-check {
    margin-top: 5px;
    margin-left: 0px;
    padding: 0px;
}

div.form-check label{
    margin-left: 25px;
}

div.col-2.mt-5 {
    margin: 0px;
    padding: 0px;
}

input#checkBoxId.form-check-input {
    width: 20px;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

input#gridCheck.form-check-input {
    width: 20px;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

.form-container header button {
    height: 50px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: green;
    margin-left: 16px;
    transition: border-color 0.5s;
}
