.loader {
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    border: 4px solid #033ba3;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
    position: relative;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    33.33% {
        transform: rotate(120deg);
    }

    66.66% {
        transform: rotate(240deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.form-group label {
    color: #000;
    font-size: 16px;
    padding-bottom: 0;
}

.medalhas-container {
    width: 100%;
    max-width: 1200px;
    padding: 5 10px;
    margin: 30px auto;
}

.medalhas-container header button:hover {
    border-color: #510BAC;
}

.medalhas-container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.medalhas-container header img {
    height: 80px;
}

.medalhas-container header button {
    height: 50px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: green;
    margin-left: 16px;
    transition: border-color 0.5s;
}

table,
th,
td {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    text-align: left;
}

tbody tr td {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.input-group-text {
    margin: 0px 10px;
}

.btn-adicionar {
    padding: 0px 10px;
    font-size: 18px;
}

.btn-adicionar strong {
    margin-right: 8px;
    font-size: 20px;
}

.botaoBusca {
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
}

label {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

select {
    border-radius: 5px;
    border-color: #ccc;
}

.form-check {
    margin-left: 10px;
}

.idade {
    margin-left: 10px;
}

.paginacao button {
    color: #000;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: #cececece;
    transition: border-color 0.5s;
}

.pagina p {
    text-align: center;
    margin-top: 5px;
}

.modal-incluir {
    width: 100%;
    max-width: 900px;
    padding: 5 10px;
    margin: 30px auto;
}

.modal-excluir {
    width: 100%;
    max-width: 900px;
    padding: 5 10px;
    margin: 30px auto;
}

.modal-editar {
    width: 100%;
    max-width: 900px;
    padding: 5 10px;
    margin: 30px auto;
}