.form-container header button {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #DCDCE6;
    background: green;
    margin-left: 16px;
    transition: border-color 0.5s;
}

input.form-check-input {
    width: 20px;
    margin-left: 10px;
}